<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white; cursor:pointer">
        TeleNotes Record Tracker
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <app-create-info></app-create-info>
        <li>Add New Company Info</li>
      </ul>
    </div>

</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a style="color:white; cursor:pointer">
    <h3>TeleNotes Record Tracker</h3></a>
      <app-create-info></app-create-info>
</nav> -->
