<div [formGroup]="contactForm">
  <strong>Contact Person Info</strong><br />
  <div class="form-group col-md-6">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName="firstname"
      placeholder="First Name">
  </div>
  <div class="form-group col-md-6">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastname"
      placeholder="Last Name">
  </div>
  <div class="form-group col-md-6">
    <label>Contact ID</label>
    <input type="text" class="form-control" formControlName="contactId"
      placeholder="Contact ID">
  </div>
  <div class="form-group col-md-6">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title"
      placeholder="Title">
  </div>
  <div class="form-group col-md-6">
    <label>Dept</label>
    <input type="text" class="form-control" formControlName="dept"
      placeholder="Department">
  </div>
  <div class="form-group col-md-6">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email"
      placeholder="abc@abc.com">
  </div>
  <div class="form-group col-md-6">
    <label>Secondary Email</label>
    <input type="text" class="form-control" formControlName="email2"
      placeholder="abc@abc.com">
  </div>
  <div class="form-group col-md-6">
    <label>Street 1</label>
    <input type="text" class="form-control" formControlName="contactAddress"
      placeholder="Address Line 1">
  </div>
  <div class="form-group col-md-6">
    <label>Street 2</label>
    <input type="text" class="form-control" formControlName="contactaddress2"
      placeholder="Address Line 2">
  </div>
  <div class="form-group col-md-6">
    <label>City</label>
    <input type="text" class="form-control" formControlName="contactCity"
      placeholder="City">
  </div>
  <div class="form-group col-md-6">
    <label>State</label>
    <input type="text" class="form-control" formControlName="contactState"
      placeholder="State">
  </div>
  <div class="form-group col-md-6">
    <label>ZipCode</label>
    <input type="text" class="form-control" formControlName="contactZip"
      placeholder="Zip Code">
  </div>
  <div class="form-group col-md-6">
    <label>Primary Phone</label>
    <input type="text" class="form-control" formControlName="PrimaryPhone"
      placeholder="Number Only">
  </div>
  <div class="form-group col-md-2">
    <label>Ext</label>
    <input type="text" class="form-control" formControlName="ext"
      placeholder="Ext">
  </div>
  <div class="form-group col-md-6">
    <label>Mobile Ph</label>
    <input type="text" class="form-control" formControlName="mobilePh"
      placeholder="Mobile Number">
  </div>
  <div class="form-group col-md-6">
    <label>Home Phone</label>
    <input type="text" class="form-control" formControlName="homePhone"
      placeholder="Home Phone">
  </div>
  <div class="form-group col-md-6">
    <label>Fax</label>
    <input type="text" class="form-control" formControlName="fax"
      placeholder="Fax">
  </div>
  <div class="form-group col-md-6">
    <label>Birthday</label>
    <input type="text" class="form-control" formControlName="birthday"
      placeholder="Birthday">
  </div>
</div>
